/* Estilizações Gerais */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

/* Popup */
#popup {
    display: none;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1a202c;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer button, footer a {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
    display: inline-block;
    width: 30%;
}

footer button:hover, footer a:hover {
    background-color: #e64a19;
}

/* Responsividade */
@media (max-width: 600px) {
    footer {
        display: flex;
        gap: 10px;
    }

    footer button, footer a {
        width: 80%;
    }
}

